*{
    box-sizing: border-box;
}
body{
    margin: auto;
    background-image: url("background.jpg");
    height: 100%;
    width: 50%;
}
header{
    height: auto;
    padding: 10px;
    border: 1px solid black;
}
header > nav{
    border: 1px solid black;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
section{
    height: auto;
    border: 1px solid black;
}
section > div.gameDisplay{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    background-color: rgb(36, 35, 35);
}
section > div.gameDisplay > div.display{
    height: 300px;
    width: 200px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
section div.gameDisplay div.display img{
    min-width: 150px;
    max-width: 100%;
    min-height: 150px;
    max-height: 100%;
    padding: 0 0 10px 0;
}
section > div.status{
    min-height: 100px;
    max-height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
section > div.status > div.money{
    height: 200px;
    width: 500px;
    border: 1px solid black;
}
footer{
    height: auto;
    border: 1px solid black;
}