*{
    box-sizing: border-box;
}
body{
    margin: auto;
    background-image: url("background.jpg");
    height: 100%;
    width: 50%;
}
header{
    height: 20%;
}
section{
    height: auto;
}
footer{
    height: 200px;
}